[Unit]
Description=RG360 Teachers Payrolls API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/pachibadilla.info/rg360/teachers-payrolls
Environment=NODE_ENV=production
Environment=PORT=3004
ExecStart=/usr/bin/node server/index.mjs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
